<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoffeeBook - LogIn</title>
<style>
    body {background-image: url("cb.jpg");}
</style>
    <!-- Bootstrap core CSS -->
    <link href="css/SignIn.css" rel="stylesheet">
</head>
<body>



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>


<div class="d1">
    <form>
        <h1 class="h11"> Welcome to CoffeeBook Club :) </h1>
        <hr >
        <p class="p11"> please fill the following to sign in </p>
        <input type="Name" placeholder=" Enter E-mail" class="in11">
        <br> <br>
        <input type="Password" placeholder=" Enter Password" class="in22" >
        <br> <br>
        <button class="b11" > <a href="/" style="text-decoration:none" class="ank" > Sign in
        </a> </button>

        <hr>
        <p class="po">or log in using: </p>
        <button class="bf">Facebook</button>
        <button class="bg">Gmail</button>
        <hr>
        <p class="pup">If you don't have e-mail, Please sign up</p>

        <button class="b22" > <a href="/SignUp" style="text-decoration:none" class="ank" > Sign up
        </a> </button>

    </form>
</div>
<br>
<!-- Footer -->
<footer class="py-5 bg-dark CopyRights" >
    <div class="container">
        <p class="m-0 text-center text-white cpyr">Copyright &copy; CoffeeBook 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

