<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoffeeBook - SignUp</title>

    <!-- Bootstrap core CSS -->
    <link href="css/SignUp.css" rel="stylesheet">
</head>
<body>



<img src="person-icons-windows-8-196852-7218326.png" class="imgtop">
<div class="d1">
    <form >
        <br>
        <h1 class="h11">Sign Up</h1>
        <hr>
        <p class="p11"> please fill the following to register </p>
        <input type="Name" placeholder=" First Name" >
        <input type="Name" placeholder=" Last Name" >
        <br> <br>
        <input type="Name" placeholder=" BirthDay: dd/mm/yyyy" >
        <br> <br>
        <input type="Name" placeholder=" Phone Number" >
        <br> <br>
        <input type="Name" placeholder=" Email Name@CoffeeBook.com">
        <br> <br>
        <input type="Password" placeholder=" New Password">
        <br> <br>
        <input type="Password" placeholder=" Retype New Password">
        <br> <br>
        <button class="b11" > <a href="/" style="text-decoration:none" class="ank" > Sign up
        </a> </button>


    </form>
</div>
<br>
<!-- Footer -->
<footer class="py-5 bg-dark CopyRights" >
    <div class="container">
        <p class="m-0 text-center text-white cpyr">Copyright &copy; CoffeeBook 2019</p>
    </div>
    <!-- /.container -->
</footer>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
